*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    overflow-x: hidden;
}

.HomeContent {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: auto;
    margin-top: 75px;
}

/*.HomeContent .Swiper {*/
/*    position: relative;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    width: 100vw;*/
/*    height: 300px;*/
    /*background-color: #ddd;*/
/*    margin-bottom: 50px;*/
/*    padding-top: 0px;*/
/*}*/


.slider{
  border-radius: 10px;
  overflow: hidden;
  width: 60vw;
  /*height: 100%;*/
  border: 7px solid white;
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);
}

.slides{
  width: 500%;
  height: 100%;
  display: flex;
}

.slides input{
  display: none;
}

.slide{
  width: 20%;
  transition: 2s;
}

.slide img{
  width: 100%;
  height: 100%;
}

/*css for manual slide navigation*/

.navigation-manual{
  position: absolute;
  display: flex;
  justify-content: center;
  width: 60vw;
  margin-top: 20px;
}

.manual-btn{
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
  border: 3px solid black;
  padding: 5px;
  width: 30px;
}

.manual-btn:not(:last-child){
  margin-right: 20px;
}

.manual-btn:hover{
  background: #FA8128;
}

#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -20%;
}

#radio3:checked ~ .first{
  margin-left: -40%;
}


/*css for automatic navigation*/

.navigation-auto{
  position: absolute;
  justify-content: center;
  margin-top: 460px;
  display: flex;
  width: 800px;
}

.navigation-auto div{
  border-radius: 10px;
  transition: 1s;
  border: 3px solid #c43af3;
  padding: 5px;
  width: 30px;
}

.navigation-auto div:not(:last-child){
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
  background: #c43af3;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
 
  background: #c43af3;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
  background: #c43af3;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
  background: #c43af3;
}



.HomeContent .HomeColumns {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: auto;
    
}

.HomeContent .HomeColumns .LeftColumn {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: auto;
    min-height: 100vh;
    padding-top: 50px;
}

.Title {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 75px;
    padding-bottom: 0px;
    padding-top: 150px;
    /*background-color: #fff;
    border: 2px solid #000;*/
}

.Title p {
    font-size: 65px;
}

.HomeContent .HomeColumns .LeftColumn .Bejegyzes {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;
    height: auto;
    overflow: hidden;
}

.HomeContent .HomeColumns .LeftColumn .Bejegyzes .Bejegyzes-Cim {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    background-color: #b6b6b6;
    cursor: pointer;
    z-index: 1;
}

.HomeContent .HomeColumns .LeftColumn .Bejegyzes .Bejegyzes-Cim p {
    font-size: 45px;
    padding: 20px 20px;
    padding-right: 60px;
}

.HomeContent .HomeColumns .LeftColumn .Bejegyzes .Bejegyzes-Cim i {
    position: absolute;
    right: 20px;
    font-size: 32px;
    height: 40px;
    width: 40px;
}

.HomeContent .HomeColumns .LeftColumn .Bejegyzes .Bejegyzes-Szoveg {
    background-color: #b6b6b6;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 0px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
    margin-bottom: 15px;
}


.HomeContent .HomeColumns .LeftColumn .Bejegyzes .Bejegyzes-Szoveg.Aktiv {
    height: auto;
    opacity: 1;
    visibility: visible;
}

.HomeContent .HomeColumns .LeftColumn .Bejegyzes .Bejegyzes-Szoveg p {
    padding: 5px 20px;
    font-size: 25px;
}

.HomeContent .HomeColumns .LeftColumn .Bejegyzes .Bejegyzes-Szoveg li {
    padding: 5px 20px;
    font-size: 20px;
    
}
.HomeContent .HomeColumns .LeftColumn .Bejegyzes .Bejegyzes-Szoveg img {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 450px;
    
}

.HomeContent .HomeColumns .LeftColumn .Bejegyzes .Bejegyzes-Szoveg .BejegyzesTobbKep{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap : wrap;
    width: 60vw;
    height: auto;
    margin-top: 0px;
    padding: 10px 0px;
}

.HomeContent .HomeColumns .LeftColumn .Bejegyzes .Bejegyzes-Szoveg .BejegyzesTobbKep a{
    width: 200px;
    padding: 15px 0px;
}

.HomeContent .HomeColumns .LeftColumn .Bejegyzes .Bejegyzes-Szoveg .BejegyzesTobbKep a img{
    
    
    width: 150px;
    border:5px solid #FA8128;
    
}


/*------------------mobil mod------------------*/
@media only screen and (max-width: 499px) {
    .HomeContent .Swiper {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: auto;
        /*background-color: #ddd;*/
        margin-bottom: 30px;
        padding-top: 0px;
    }

    .Title {
        padding-bottom: 0px;
    }

    .Title p {
        font-size: 45px;
    }

    .HomeContent .HomeColumns .LeftColumn .Bejegyzes {
        width: 90vw;

    }

    .HomeContent .HomeColumns .LeftColumn .Bejegyzes .Bejegyzes-Cim {
        padding: 0px;

    }

    .HomeContent .HomeColumns .LeftColumn .Bejegyzes .Bejegyzes-Cim p {
        font-size: 25px;
        padding: 15px 10px;
        padding-right: 40px;
        font-weight: bold;

    }

    .HomeContent .HomeColumns .LeftColumn .Bejegyzes .Bejegyzes-Cim i {
        position: absolute;
        padding-left: 8px;
        padding-right: 5px;
        right: 20px;
        font-size: 25px;
        height: 20px;
        width: 20px;
    }

    .HomeContent .HomeColumns .LeftColumn .Bejegyzes .Bejegyzes-Szoveg p {
        padding: 5px 20px;
        font-size: 20px;
    }
    .HomeContent .HomeColumns .LeftColumn .Bejegyzes .Bejegyzes-Szoveg li {
        padding: 5px 20px;
        font-size: 20px;
    }
    .HomeContent .HomeColumns .LeftColumn .Bejegyzes .Bejegyzes-Szoveg img {
        width: 70vw;
    }
    .HomeContent .HomeColumns .LeftColumn .Bejegyzes .Bejegyzes-Szoveg .BejegyzesTobbKep{
    width: 90vw;
}

.HomeContent .HomeColumns .LeftColumn .Bejegyzes .Bejegyzes-Szoveg .BejegyzesTobbKep a{
    width: 150px;
}

.HomeContent .HomeColumns .LeftColumn .Bejegyzes .Bejegyzes-Szoveg .BejegyzesTobbKep a img{
    width: 120px;
}

    .slider{
      border-radius: 10px;
      overflow: hidden;
      width: 90vw;
      /*height: 100%;*/
      border: 7px solid white;
      box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);
    }
    
    .navigation-manual{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        width: 90vw;
        margin-top: 20px;
    }
}



/*------------------tablet mod------------------*/
@media only screen and (min-width: 500px) and (max-width: 1299px) {
    .HomeContent .HomeColumns .LeftColumn .Title {
        padding-bottom: 0px;
    }

    .HomeContent .HomeColumns .LeftColumn .Title p {
        font-size: 45px;
    }

    .HomeContent .HomeColumns .LeftColumn .Bejegyzes  {
        width: 90vw;

    }

    .HomeContent .HomeColumns .LeftColumn .Bejegyzes .Bejegyzes-Cim {
        padding: 0px;

    }

    .HomeContent .HomeColumns .LeftColumn .Bejegyzes .Bejegyzes-Cim p {
        font-size: 25px;
        padding: 15px 10px;
        padding-right: 40px;
        font-weight: bold;

    }

    .HomeContent .HomeColumns .LeftColumn .Bejegyzes .Bejegyzes-Cim i {
        position: absolute;
        padding-left: 8px;
        padding-right: 35px;
        right: 0px;
        font-size: 25px;
        height: 20px;
        width: 20px;
    }

    .HomeContent .HomeColumns .LeftColumn .Bejegyzes .Bejegyzes-Szoveg p {
        padding: 5px 20px;
        font-size: 20px;
    }
    .HomeContent .HomeColumns .LeftColumn .Bejegyzes .Bejegyzes-Szoveg li {
        padding: 5px 20px;
        font-size: 20px;
    }
    
    .HomeContent .HomeColumns .LeftColumn .Bejegyzes .Bejegyzes-Szoveg .BejegyzesTobbKep{
    width: 90vw;
}

.HomeContent .HomeColumns .LeftColumn .Bejegyzes .Bejegyzes-Szoveg .BejegyzesTobbKep a{
    width: 150px;
}

.HomeContent .HomeColumns .LeftColumn .Bejegyzes .Bejegyzes-Szoveg .BejegyzesTobbKep a img{
    width: 120px;
}
    
    .slider{
      border-radius: 10px;
      overflow: hidden;
      width: 90vw;
      /*height: 100%;*/
      border: 7px solid white;
      box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);
    }
    
    .navigation-manual{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        width: 90vw;
        margin-top: 20px;
    }
}